.input {
  display: flex;
  flex-grow: 1;
  padding: 10px 15px;

  border: none;
  border-radius: 3px;
  font-size: 14px;
}

.tile-name-input {
  display: block;
  
  margin: 10px 5px 5px 5px;

  box-shadow: inset 0 0 0 2px #01939a;
}