.boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  margin-left: -1.33%;
  list-style: none;
}

.board-delete__wrapper {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 0 0 10px 1.33%;
  width: 32%;
  height: 100%;
}

.board-delete__content {
  display: flex;
  flex-direction: column;  
  overflow: hidden;
  border-radius: 3px;
  background-color:#d6dbdb;
}

.board-delete__detail { 
  display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-left: -1.33%;
  padding-right: 10px;
  list-style: none;
  
  border-radius: 3px;

  background-color: #01939a;
}

.board-delete__detail:hover {
  background-color: #1d7074;

  cursor: pointer;
}

.board-delete__detail-title {
  margin: 0;
  padding: 0;
  padding: 10px 5px 5px 15px;

  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
}

.board-delete-icon__close:hover {
  color: #f4f9f9;
}
