.boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  margin-left: -1.33%;
  list-style: none;
}

.board__wrapper {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 0 0 10px 1.33%;
  width: 32%;
  height: 100%;
}

.board__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 3px;
  background-color:#d6dbdb;
}

.board__detail { 
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  margin-left: -1.33%;
  list-style: none;
  min-height: 102px;
  border-radius: 3px;

  background-color: #01939a;
}

.board__detail:hover {
  background-color: #1d7074;
}

.board__detail-title {
  margin: 0;
  padding: 0;
  padding: 10px 5px 5px 15px;

  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
}

