
body {
  background-color: #f6f9f9;
}

/* .primary-0 { color: #01939a }		
.primary-1 { color: #1d7074 }
.primary-2 { color: #006064 }
.primary-3 { color: #34c6cd }
.primary-4 { color: #5dc8cd } */

.App {
  margin: 0 auto;
  max-width: 1140px;
  
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #00474b;  
}

/* .visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 32px;
  width: 32px;
  font-size: 18px;
  color: #34c6cd;
  cursor: pointer;
}

.icon:hover {
  color: #01939a;
}
